@media only screen and (min-width:1024px) {
    .container {
        width: 80%;
    }

    .home-container {
        width: 80%;
    }

    .question {
        font-size: 2.5rem;
    }
}
    

@media only screen and (min-width:768px) {
    .container {
        width: 80%;
    }

    .home-container {
        width: 80%;
    }

    .question {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width:375px) {
    .container {
        width: 80%;
    }

    .home-container {
        width: 80%;
    }

    .question {
        font-size: 1.5rem;
    }

    .image div {
        width: 300px;
    }
}